@import '../../scss/variables.scss';

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    padding: 20px 0 !important;
    transition: all 0.5s ease-in-out;
}

.header--scrolled {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    padding: 12px 0 !important;
    box-shadow: $header-box-shadow;
    transition: all 0.5s ease-in-out;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    color: $secondary-accent-color;
    &:hover {
        color: $accent-color;
    }
}

.nav {
    display: flex;
    gap: 30px;
}

.nav__link {
    display: block;
    color: $nav-link-color;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        color: $accent-color;
    }
}

.link--active {
    color: $accent-color;
}

.nav__catalogue {
    position: relative;

    &:hover {
        .companies__list {
            display: flex;
        }
    }
}


.companies__list{
    display: none;
    position: absolute;
    top: 16px;
    left: -20px;
    width: fit-content;
    flex-direction: column;
    background-color: $burger-menu-bg-color;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    color: $nav-link-color;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        display: flex;
        color: $accent-color;
    }
}

.companies__item {
    padding: 10px;
    color: $nav-link-color;

    &:hover {
        color: $accent-color;
    }

    a {
        color: currentColor;
    }
}