@import '/src/scss/variables.scss';


.about__title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        bottom: 10px;
        left: calc(50% - 50px);
        width: 100px;
        height: 0;
        border: 1px solid $accent-color;
    }
}

.about__paragraph {
    text-align: center;
    padding-bottom: 30px;
    line-height: 1.4;
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @media screen and (min-width: $lg) {
        flex-direction: row;
    }
}

.about__paragraph {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    text-align: start;
    line-height: 2;
    letter-spacing: 0.3;
}

.about__statistics {
    padding-top: 50px;
}

.about__parameters {
    display: none;
    justify-content: center;
    color: $secondary-text-color;

    @media screen and (min-width: $lg) {
        display: flex;
    }
}

.about__parameter {
    background-color:  $red-bg-color;
    min-width: 30%;
    text-align: center;
    height: 180px;
    margin-bottom: 25px;
    box-shadow: $count-box-shadow;
    margin-top: -50px;
    z-index: 1;
    font-size: 16px;
    padding: 20px;
    
    @media screen and (min-width: $xl) {
        font-size: 20px;
        padding: 25px;
    }


    &:first-child {
        background-color:  $accent-color;
        margin-top: -0;
        z-index: 0;

        margin-right: -15px;
    }
    &:last-child {
        background-color:  $grey-bg-color;
        margin-top: 0;
        z-index: 0;
        margin-left: -15px;
    }
}

.count__description {
    text-align: center;
    text-transform: uppercase;
}

.about__count {
    display: block;
    font-size: 26px;
    margin-bottom: 25px;
}