@import "/src/scss/variables.scss";

.catalogue__hero {
    margin-top: 74px;
    background: $catalogue-hero-bg-color;
    background-image: url(/public/images/rollmed/rollmed-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.catalogue__hero__wrapper {
    padding: 96px 0;
    max-width: 730px;
    margin: 0 auto 104px;
    color: $secondary-text-color;
}

.catalogue__hero__title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: calc(64/48);
    margin-bottom: 24px;
    // opacity: 0.85;
}

.catalogue__hero__paragraph {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(28/16);
    margin-bottom: 32px;
    // opacity: 0.85;
}

.catalogue__hero__link {
    display: flex;
    width: 150px;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: currentColor;

    &:hover {
        color: $accent-color;
    }
}

.link__paragraph {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(28/16);
    // opacity: 0.85;
    color: currentColor;
}

.link__img {
    display: block;
    width: 15px;
    height: 15px;
    fill: currentColor;
}