@import '/src/scss/variables.scss';

.footer {
    background-color: $secondary-accent-color;
    background-image: url(/public/images/icons/SVG/third-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__container {
    height: 100vh;
}