// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


// color
$accent-color: #3fbbc0;;
$main-text-color: #444444;
$nav-link-color: #626262;



// font
$main-font-family: "Roboto", sans-serif;